@tailwind base;
@tailwind components;
@tailwind utilities;


.arrow{
    transform: translateX(7px);
}

.card:hover .arrow{
    transform: translateX(15px);
}

*::selection{
    background-color: rgb(74, 222, 128);
    color: white;
}

.small-header{
    visibility: visible;
}

.large-header{
    visibility: hidden;
}

*{
    -webkit-tap-highlight-color: transparent;
}


@media screen and (min-width: 768px){

    .large-header{
        visibility: visible;
    }
    .small-header{
        visibility: hidden;
    }

}
